{% extends "navbar.jinja" %}

{% block content %}

    <div class="book">
        <h1>{{ book.title }}</h1>


        <h2>{{ book.title }}</h2>
        <h3>{{ book.author }}</h3>
        <h4>{{ book.genre }}</h4>
    </div>

    <a href="http://127.0.0.1:4999/books">Back to Books</a>

{% endblock %}
