<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
    <header>
        <div class="headerimage">
        <img src="https://img.freepik.com/free-photo/crazy-man-with-book-funny-expression_1194-3245.jpg" alt="man with book" width="150" height="100" ><div class="home">Sparse Libraries</div>
        </div>
        <ul>
            <div class="navbar">
            <li class="nav"><a href="http://127.0.0.1:4999/books">Home</a></li>
            <li class="nav"><a href="http://127.0.0.1:4999/books">Home</a></li>
            <li class="nav"><a href="http://127.0.0.1:4999/books/contact">Contact</a></li>
            </div>
        </ul>
        <hr>
    
    </header>
    
    
    <body>
        
        {% block content %} 
        
        {% endblock %}
        
    </body>
    
    <footer>
    <hr>
    <h4>Some Bits</h4>
    </footer>
</html>
